<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <img src="/public/images/main_bg.png" alt="">
   <img src="/public/images/logo_bbg.png" alt="">
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo eaque, ipsam voluptatem nulla autem sit provident culpa velit? Illum molestias odio, ratione distinctio ullam aliquam beatae obcaecati maiores nesciunt nam.
</body>
</html>
